.privacy {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    color: #302F2E;
}

a {
    text-decoration: none;
    color: #302F2E;
}