<div class="privacy">

    <h1 class="title">Угода про конфіденційність</h1>



    <div class="entry-content">

        <h2>Загальна інформація</h2>



        <p>«Центр Gedankendach» (надалі «Організація»), розуміючи важливість забезпечення конфіденційності й
            недоторканності Персональних даних фізичних осіб, укладає з Вами (далі “Учасник”) дану Угоду про
            конфіденційність (далі “Угода”) для визначення порядку одержання, зберігання, обробки, використання й
            розкриття Організацією Персональних даних Учасника при використанні Учасником Послуг Організації та Інтернет
            сайту <a href="https://gedankendach.org/">gedankendach.org</a> (далі “Сайт”).</p>



        <p>Для користування Сайтом та Послугами Учасник зобов’язаний прийняти умови цієї Угоди. Учасник не має права
            використовувати Сайт та послуги, які&nbsp; надаються Сайтом (далі — Послуги), у випадку незгоди з умовами
            даної Угоди.</p>



        <h2>Терміни</h2>



        <p><strong>Персональні дані</strong> – інформація про певного Учасника, яка дозволяє ідентифікувати цього
            Учасника як особистість.</p>



        <p><strong>Загальнодоступні дані</strong> – інформація (у тому числі Персональні дані), до якої фізична особа —
            власниця цих даних, надала доступ необмеженому колу осіб (у т.ч. шляхом публікації на будь-якому
            інтернет-сайті без обмеження доступу до цих даних) або на які відповідно до даної Угоди й/або чинного
            законодавства України не поширюється вимога дотримання конфіденційності.</p>



        <p><strong>Cookie (Кукі)</strong> – фрагмент даних, створений Сайтом й збережений у комп’ютері Учасника у
            вигляді одного або декількох файлів. Cookie не містять Персональних даних і&nbsp; можуть бути заблоковані
            Учасником у будь-який момент.</p>



        <h2>1. Предмет угоди</h2>



        <p>1.1. Дана Угода визначає порядок одержання, зберігання, обробки, використання й розкриття Персональних,
            Загальнодоступних та інших даних, що надаються Організації Учасником при використанні ним Сайту та Послуг.
        </p>



        <p>1.2. Використовуючи будь-яку частину Сайту та Послуги, Учасник надає Організації право одержувати, зберігати,
            обробляти, використовувати й розкривати Персональні дані Учасника на умовах даної Угоди.</p>



        <p>1.3. Дана Угода не регулює, а Організація не несе відповідальності за порядок одержання, зберігання, обробки,
            використання й розкриття Персональних даних Учасника сторонніми підприємствами й організаціями, що не
            перебувають у володінні або під керуванням Організації, і фізичними особами, що не є працівниками/-цями
            Організації, навіть якщо Учасник одержав доступ до сайтів, програмного забезпечення, товарів або послуг цих
            осіб за допомогою Сайту.</p>



        <p>1.4. Метою одержання, зберігання, обробки й використання Персональних, Загальнодоступних та інших даних
            Учасника є захист інтересів Учасника та Сайту, а також надання Учаснику Послуг, включаючи показ
            таргетованої, персоналізованої або загальної інформації, покращення якості існуючих і створення нових сайтів
            та послуг, що надаються Сайтом.</p>



        <h2>2. Отримання, обробка та використання інформації</h2>



        <p>2.1. Організація має право завантажувати на комп’ютери Учасників файли Сookie (якщо Учасник самостійно не
            обмежив дану можливість у своєму веб-браузері), а також одержувати, зберігати, обробляти й використовувати
            інформацію, що міститься в Сookie.</p>



        <p>2.2. При використанні Учасником Сайту та Послуг обладнання, на якому розташований Сайт, Сайт автоматично
            зберігає, обробляє та використовує дані Учасника, що не відносяться до Персональних, наприклад: IP-адреса
            Учасника, дані про місцезнаходження Учасника, які можна визначити за допомогою його IP-адреси, технічні
            параметри комп’ютера Учасника, наявність або відсутність у комп’ютері Учасника конкретного програмного
            забезпечення, налаштування даного програмного забезпечення, файли Сookie, а також статистична інформація про
            активність Учасника.</p>



        <p>2.3. Організація має право зберігати Персональні, Загальнодоступні та інші дані Учасника в обсязі та у строки
            необхідні для реалізації мети, що зазначена у даній Угоді, або у строки, встановлені чинним законодавством
            України, нормами міжнародного права, або законодавством країни проживання або перебування Учасника, або до
            моменту видалення Учасником цих даних.</p>



        <h2>3. Доступ до інформації</h2>



        <p>3.1. Організація зобов’язується не надавати Персональні дані третім особам у комерційних цілях без згоди
            Учасника, якому належать ці дані. Передача Персональних даних третім особам допускається у наступних
            випадках:</p>



        <ul>
            <li>після одержання згоди Учасника, якому належить дана інформація;</li>
            <li>при необхідності передачі Персональних даних з метою виконання замовлення або запиту Учасника;</li>
            <li>за обґрунтованими запитами державних органів, що мають право одержувати такі дані;</li>
            <li>у тому випадку, якщо на думку Організації, Учасник порушує умови даної Угоди та/або інших договорів і
                угод між Організацією та Учасником.</li>
        </ul>



        <p>3.2. Учасник дозволяє Організації надавати дозвіл іншим компаніям, з якими Організація уклала відповідні
            угоди, одержувати, зберігати та обробляти дані про Учасника (крім Персональних даних), такі як IP-адреса
            Учасника, файли Сookie, а також статистична інформація про активність Учасника для покращення якості
            надаваної цими компаніями послуг та інформації рекламного характеру.</p>



        <p>3.3. Учасник погоджується з тим, що конфіденційність переданих через Інтернет даних не гарантована і у
            випадку, якщо доступ до цих даних буде отриманий третіми особами поза зоною технічних засобів зв’язку,
            підвладних Організації, Організація не несе відповідальності за збиток, заподіяний таким доступом.</p>



        <h2>4. Додаткові умови</h2>



        <p>4.1. Організація має право вносити зміни в дану Угоду про конфіденційність. Усі внесені до Угоди зміни будуть
            доступні у вигляді нової редакції Угоди, за адресою <a
                href="https://gedankendach.org/confidential">gedankendach.org/confidential</a>. У випадку внесення до
            Угоди істотних змін, Організація додатково повідомить Учасника про ці зміни через email-розсилку. Усі зміни
            Угоди набувають чинності з моменту їх публікації. Використовуючи Послуги або Сайт, Учасник підтверджує згоду
            з новими умовами Угоди в редакції, що діє на момент використання Учасником Послуг та/або Сайту.</p>



        <p>4.2. Організація не несе відповідальності за шкоду або збитки, яких зазнав Учасник або треті особи в
            результаті помилкового розуміння або нерозуміння умов даної Угоди, інструкцій або вказівок про порядок
            використання Сайту, щодо порядку розміщення даних та інших технічних питань. До моменту прийняття умов даної
            Угоди будь-який Учасник має право звернутися до Організації для отримання роз’яснень щодо положень Угоди.
        </p>



        <p>4.3. У випадку визнання недійсної або нездійсненої будь-якої частини даної Угоди, інші частини Угоди
            залишаються чинними. Відмова кожної зі сторін від будь-якого положення або умови даної Угоди, або будь-яке
            їх порушення не скасовує дію цього положення або умови.</p>



        <p>4.4. До даної Угоди й відносин між Організацією та Учасником, що виникають у зв’язку з використанням Сайту,
            застосовується законодавство України. Кожна сторона незаперечно погоджується з тим, що відповідні суди
            України мають виняткову юрисдикцію відносно будь-яких претензій, спорів або розбіжностей, що стосуються
            Угоди та використання Сайту.<br></p>
    </div><!-- .entry-content -->
</div>