<div class="rules">
    
        <h1 class="title">Умови користування</h1>



    <div class="entry-content">

        <p>Дані Правила користування Інтернет-сайтом <a href="https://gedankendach.org/">gedankendach.org</a> (надалі
            «Правила» та «Сайт») укладаються між Вами, користувачами Сайту, (надалі «Учасник») та адміністрацією Сайту —
            Громадською Організацією «Центр Gedankendach» (надалі «Організація») і регулюють усі способи використання
            Сайту, який є власністю та управляється Організацією, усі види послуг, що надає Організація за допомогою
            Сайту (далі — Послуги) та усієї інформації, яка доступна на Сайті.</p>



        <h2>1. Загальні положення</h2>



        <p>1.1. Використання Сайту дозволено тільки Учаснику, який прийняв усі умови даних Правил, які розміщені за
            адресою <a href="https://gedankendach.org/rules">gedankendach.org/rules</a>, Угоду про конфіденційність, яка
            розміщена за адресою <a href="https://gedankendach.org/confidential">gedankendach.org/confidential</a> й
            інші правила, розміщені на Сайті.</p>



        <p>1.2. Учасник зобов’язаний уважно ознайомитися з Правилами перед використанням Сайту. Використовуючи будь-яку
            частину Сайту, Учасник автоматично надає свою згоду бути зв’язаним умовами даних Правил з Організацією. Якщо
            Учасник не погоджуєтеся з умовами Правил (повністю або частково), йому не надається статус Учасник і
            забороняється використовувати Сайт, включаючи, але не обмежуючись, будь-яку інформацію, розміщену на Сайті
            та будь-які Послуги, що надаються у рамках Сайту.</p>



        <p>1.3. Умови Правил поширюються на всіх користувачів Сайту.</p>



        <p>1.4. Якщо закон країни проживання або перебування Учасника забороняє використовувати Сайт з будь-яких причин,
            Учасник&nbsp; повинен утриматися від використання Сайту. У випадку, якщо Учасник продовжує користуватися
            Сайтом, то він здійснює це на власний ризик та на власну відповідальність. При цьому усі умови даних Правил
            залишаються в силі.</p>



        <p>1.5. Деякі сервіси, програми, курси, які доступні Учаснику на Сайті, можуть мати додаткові правила, умови та
            угоди, які встановлені Організацією та які регулюють їх використання. Перед використанням таких сервісів та
            участі у таких програмах, проектах, Учасник повинен уважно ознайомитися з умовами участі у них та надати
            свою згоду з такими умовами.&nbsp;</p>



        <p>1.6. Інформація, що міститься на Сайті у вигляді звітів, новин, прес-релізів і інших інформаційних матеріалів
            Організації, є актуальною на дату їх складання. У зв’язку з наступними подіями й по закінченню часу деяка з
            цієї інформації може виявитися неповною або такою, що не відповідає дійсності, однак після її публікації
            Організація не гарантує оперативної зміни такої інформації у зв’язку із подіями, що відбулися.&nbsp;</p>



        <p>1.7. Думка авторів статей, коментарів, розміщених на Сайті, може не збігатися з думками і позиціями
            Організації.</p>



        <h2>2. Права, обов’язки та відповідальність сторін</h2>



        <p>2.1. Учасник зобов’язується використовувати Сайт лише в цілях, що не суперечать угодам між Учасником та
            Організацією, чинному законодавству України та принципам розумності і моралі.</p>



        <p>2.2. Якщо Учасник вважає, що на Сайті наявна інформація, що порушує його права, Учасник зобов’язаний
            повідомити про це Організацію, шляхом відправлення відповідного повідомлення на електронну адресу
            info@gedankendach.org, й надати їй інформацію, яка підтверджує дане порушення прав. У випадку, якщо Учасник
            надасть неправдиву інформацію про порушення його прав, він несе повну відповідальність за заподіяні збитки
            (включаючи будь-які витрати).</p>



        <p>2.3. Учаснику заборонено:</p>



        <ul>
            <li>використовувати Сайт для досягнення незаконних або заборонених даними Правилами цілей;</li>
            <li>сприяти розпалюванню або розпалювати релігійні, расові або міжнаціональні ворожнечі;</li>
            <li>розміщувати на Сайті заклики до насильницької зміни конституційного ладу або захоплення державної влади;
                заклики до зміни адміністративних меж та/або державного кордону України, порушення порядку,
                встановленого Конституцією України та законами України, заклики до здійснення погромів, підпалів,
                знищення майна, захоплення споруд, насильницького виселення громадян, заклики до здійснення агресії і
                т.д.;</li>
            <li>вчиняти дії, що порушують права і свободи, честь і гідність будь-якої особи;</li>
            <li>використовувати нецензурні висловлювання та мову ворожнечі, навіть якщо вони замасковані під виглядом
                певних символів (наприклад «*»);</li>
            <li>зловживати своїми правами, при цьому загрожувати будь-кому, залякувати та/або ображати будь-кого;</li>
            <li>створювати та/або поширювати небажану електронну пошту (Спам) між іншими Учасниками або третіми особами;
            </li>
            <li>виходити за рамки заздалегідь встановленої теми спілкування (Оффтоп);</li>
            <li>зловживати розміщенням інформації, що не несе смислового навантаження (Флуд);</li>
            <li>провокувати, починати й/або підтримувати словесну війну, що не має відношення до первинної причини
                суперечки (Флейм);</li>
            <li>вчиняти дії, спрямовані на введення інших користувачів в оману;</li>
            <li>розміщувати інформацію (включаючи будь-які матеріали), що порушує авторські права, права на знаки для
                товарів і послуг, права промислової власності та/або права на інші об’єкти інтелектуальної власності, що
                належать Організації та/або третім особам;</li>
            <li>розміщувати інформацію, що порушує права й законні інтереси третіх осіб (у тому числі, розміщення
                фотографій і відеозаписів, основним об’єктом яких є людина, якщо ця людина не давала згоди на розміщення
                на Сайті фотографії або відеозаписів з її участю);</li>
            <li>розміщувати матеріали рекламного, еротичного, порнографічного або образливого характеру;</li>
            <li>використовувати будь-які комп’ютерні програми для автоматизованого збору інформації на Сайті;</li>
            <li>розміщувати комп’ютерні віруси або програми, здатні перервати або порушити нормальну функціональність
                комп’ютерного обладнання та програмного забезпечення, а також засобів телекомунікації будь-яких осіб;
            </li>
            <li>вчиняти дії направлені на безпідставне завантаження на Сайт великих об’ємів інформації та даних, які
                перешкоджають роботі Сайту та доступу до Сайту інших Учасників, втручатися в процес роботи Сайту;</li>
            <li>вчиняти дії, направлені на обхід вжитих Організацією Сайту заходів по обмеженню доступу Учасника до
                Сайту;</li>
            <li>використовувати Сайт для здійснення фальсифікацій даних голосувань або інших операцій, які проводяться
                на Сайті, які штучно змінюють результати сервісів та Послуг, які надаються на Сайті.</li>
        </ul>



        <p>2.4. Відповідальність Учасника:</p>



        <ul>
            <li>Учасник самостійно відповідає за будь-яке використання інформації, що розміщена на Сайті.</li>
            <li>Учасник самостійно несе відповідальність перед третіми особами за свої дії або бездіяльність при
                використанні Сайту.</li>
            <li>Учасник&nbsp; зобов’язується самостійно та за свій рахунок врегулювати всі можливі претензії третіх
                осіб, що пов’язані з дією або бездіяльністю Учасника при використанні Сайту.</li>
        </ul>



        <p>2.5. Права Організації:</p>



        <ul>
            <li>у випадку розміщення Учасником на Сайті інформації або здійснення інших дій, що не відповідають умовам
                Правил, Організація має право без повідомлення, за власним розсудом, видалити повністю або частково
                розміщену Учасником інформацію, включаючи ту інформацію, у відношенні якої важко визначити її
                відповідність Правилам та/або чинному законодавству.</li>
            <li>за порушення умов даних Правил Організація має право без попереднього повідомлення заблокувати доступ
                Учасника до Сайту.</li>
            <li>Організація має право закрити або призупинити функціонування Сайту або будь-якої його частини, змінити
                Сайт повністю або частково без попереднього повідомлення Учасника.</li>
            <li>Організація має право призупинити доступ Учасника до Сайту у випадку виникнення технічних неполадок на
                Сайті з метою усунення останніх.</li>
        </ul>



        <p>2.6. Відповідальність Організації:&nbsp;</p>



        <ul>
            <li>Організація не несе відповідальності за використання третіми особами інформації, включаючи, але не
                обмежуючись, особисті дані Учасника (якщо вони є відкритими у вільному доступі), розміщеної Учасником на
                Сайті, включаючи її копіювання, відтворення й поширення, здійснені як у рамках Сайту, так і іншими
                можливими способами.</li>
            <li>Організація не відшкодовує збитків, прямо або непрямо, заподіяних Учаснику або третім особам у
                результаті використання або невикористання, у т.ч. неможливості використання, Сайту.</li>
            <li>Організація не приймає на себе зобов’язань по перевірці, зміні та здійсненні контролю інформації, що
                розміщується будь-ким на Сайті, не гарантує й не несе відповідальності за достовірність інформації, її
                законність, якість та відповідність конкретним запитам і потребам користувачів Сайту.</li>
            <li>Організація не несе відповідальності за зміст сайтів, що не належать їй, посилання на які можуть бути
                присутні на Сайті, і не гарантує їхньої доступності, коректної роботи й відповідності заявленій
                тематиці.</li>
        </ul>



        <h2>3. Інтелектуальна власність</h2>



        <p>3.1. Учасник, що розміщує на Сайті будь-яку інформацію, яка містить об’єкти інтелектуальної власності,
            включаючи, але не обмежуючись: текст, графічні зображення, аудіо та відео продукцію, комп’ютерні програми,
            бази даних, знаки для товарів і послуг і т.д., гарантує, що завантаження на Сайт, копіювання й використання
            даної інформації та/або об’єктів інтелектуальної власності, що містяться в ній, не буде порушувати
            авторських та інших прав третіх осіб.&nbsp;</p>



        <p>3.2. Учасник, завантажуючи на Сайт будь-які об’єкти інтелектуальної власності, безоплатно надає Організації
            невиключні майнові права на ці об’єкти, при умові їх використання на некомерційних підставах. Надані
            Учасником Організації майнові права не мають територіального обмеження та надаються на весь термін дії
            авторських прав.</p>



        <p>Дані майнові права включають в себе право на відтворення творів, публічне виконання і публічне сповіщення
            творів, публічну демонстрацію і публічний показ, здійснення перекладу, переробки, адаптації, аранжування та
            інші подібні зміни творів, включення творів як складових частин до збірників, подання творів до
            загального&nbsp; відома публіки таким чином, що її представники можуть здійснити доступ до творів з
            будь-якого місця і у будь-який час за їх власним вибором.</p>



        <p>3.3. Дані Правила не надають Учасникові ніяких виключних майнових прав на будь-які об’єкти інтелектуальної
            власності Організації або третіх осіб, якщо це явно не вказано, і усі права власності стосовно такої
            власності залишаються винятково за Організацією та/або відповідною третьою особою.&nbsp;</p>



        <p>3.4. Учаснику заборонено будь-яке використання в комерційних цілях будь-якої інформації та об’єктів
            інтелектуальної власності, що розміщені на Сайті, без письмового дозволу на це відповідного
            правовласника.&nbsp;</p>



        <p>3.5. При будь-якому використанні Учасником інформації та творів, що розміщені на Сайті, Учасник зобов’язаний
            зберігати всі авторські посилання, що маються у творі, та вказувати авторство та гіперпосилання на сайт <a
                href="https://gedankendach.org/">gedankendach.org</a> у кожному окремому випадку використання інформації
            та творів.</p>



        <h2>4. Конфіденційність</h2>



        <p>4.1. У випадку, якщо при використанні Сайту Учаснику будь-яким способом стала відома інформація відносно
            Організації та/або третіх осіб, яка відповідно до законодавства України відноситься до конфіденційної та/або
            до комерційної таємниці, Учаснику заборонено зберігати, використовувати й поширювати таку інформацію.</p>



        <p>4.2. Учасник розуміє й погоджується з тим, що розміщуючи на Сайті інформацію, у відношенні якої Учасником
            самостійно не передбачено обмеження доступу, будь-яка третя особа може одержати доступ до цієї інформації.
        </p>



        <p>4.3. Учасник підтверджує, що він ознайомився та повністю прийняв умови Угоди про конфіденційність між
            Учасником та Організацією, яка розміщена за адресою <a
                href="https://gedankendach.org/confidential">gedankendach.org/confidential</a></p>



        <h2>5. Інші умови</h2>



        <p>5.1. Організація має право вносити зміни в дані Правила. Усі внесені до Правил зміни будуть доступні у
            вигляді нової редакції Правил, за адресою <a
                href="https://gedankendach.org/rules">gedankendach.org/rules</a>. У випадку внесення до Правил істотних
            змін, Організація додатково повідомить Учасника про ці зміни через email-розсилку. Усі зміни Правил
            набувають чинності з моменту їх публікації. Використовуючи послуги або Сайт, Учасник підтверджує згоду з
            новими умовами Правил в редакції, що діють на момент використання Учасником Послуг або Сайту.</p>



        <p>5.2. Організація не несе відповідальності за шкоду або збитки, яких зазнав Учасник або треті особи в
            результаті помилкового розуміння або нерозуміння умов даних Правил, інструкцій або вказівок про порядок
            використання Сайту, щодо порядку розміщення даних та інших технічних питань. До моменту прийняття умов даних
            Правил будь-який Учасник має право звернутися до Організації для отримання роз’яснень щодо положень даних
            Правил.</p>



        <p>5.3. Учасник надає Організації право надсилати йому повідомлення на адресу електронної пошти, вказану в згоді
            на розсилку, що містять інформацію про Сайт, послуги Організації або інформацію рекламного характеру.</p>



        <p>5.4. У випадку визнання недійсною будь-якої частини даних Правил, інші частини Правил залишаються чинними.
            Відмова кожної зі сторін від будь-якого положення або умови даних Правил або будь-яке їх порушення не
            скасовує дію цього положення або умови.</p>



        <p><strong>5.5. Сайт надається Організацією у користування “Як є” та «Як доступний». Організація не гарантує
                відповідність Сайту цілям і очікуванням Учасника, його безперебійну й безпомилкову роботу.</strong></p>



        <p>5.6. Організація може в будь-який момент і без повідомлення Учасника поступитися своїми правами за даними
            Правилами на користь третьої сторони.</p>



        <p>5.7. До даних Правил й відносин між Організацією та Учасником, що виникають у зв’язку з використанням Сайту,
            застосовується законодавство України. Кожна сторона незаперечно погоджується з тим, що відповідні суди
            України мають виняткову юрисдикцію відносно будь-яких претензій, спорів або розбіжностей, що стосуються
            Правил та використання Сайту.<br></p>
    </div><!-- .entry-content -->
</div>