<div class="footer">
    <div class="footer-inside">
        <h3>Контакти</h3>
        <div>
            <i class="bi bi-instagram"></i>
            <a href="https://www.instagram.com/action_czernowitz/">action_czernowitz</a>
        </div>
        <div>
            <i class="bi bi-link"></i>
            <a href="https://linktr.ee/actio">actio</a>
        </div>
        <div>
            <i class="bi bi-telephone"></i>
            <p>+380 66 843 57 64</p>
        </div>
        <div>
            <i class="bi bi-envelope"></i>
            <p>oleksandra.shkvarchuk@gmail.com</p>
        </div>
    </div>
    <div class="footer-inside">
        <h3>Юридична інформація</h3>
        <a class="text-decoration-none" href="#" routerLink="/rules">
            Умови користування
        </a>
        <a class="text-decoration-none" href="#" routerLink="/privacy">
            Угода про конфіденційність
        </a>
    </div>
</div>
