<div class="header">
    <a class="brand" href="#" routerLink="/home">Action</a>
    <div class="links">
        <a href="#" class="link" routerLink="/about-us" routerLinkActive="active-link">Про нас</a>
        <a href="#" class="link" routerLink="/news" routerLinkActive="active-link">Новини</a>
        <a href="#" class="link" routerLink="/magazines" routerLinkActive="active-link">Щотижневик</a>
        <a href="#" class="link" routerLink="/contacts" routerLinkActive="active-link">Контакти</a>
        <a href="#" routerLink="/search"><div class="search-icon"></div></a>
    </div>
    
    <div class="panel">
        <div class="language"><span class="language-bold">UA</span> / <span>DE</span></div>
        <!-- <div class="burger-icon"></div> -->
    </div>
</div>