<div class="main-info">
    <div class="upper-info">
        <h2 class="info-title">Між мистецтвом</h2>
    </div>
    <div class="lower-info">
        <p>Молодіжна організація «АCTION» – це небайдужі, прогресивні й талановиті ентузіасти, що прагнуть змін</p>
        <h2 class="info-title">і соціумом</h2>
    </div>
    <a href="#" class="text-decoration-none" routerLink="/magazines">
        <div class="read-link">
            <p>Читати щотижневик</p>
            <div class="arrow-icon"></div>
        </div>
    </a>
</div>
