html {
    background-color: #E5E5E5;
}

/* Webfont: Mak-Light */@font-face {
    font-family: 'MakLight';
    src: url('./assets/fonts/MAK.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/MAK.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/MAK.woff') format('woff'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Mak-Bold */@font-face {
    font-family: 'Mak';
    src: url('./assets/fonts/MAK-bold.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/MAK-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/MAK-bold.woff') format('woff'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf'); 
}