<div class="last-news">
    <div class="title">
        <h3>Останні новини</h3>
        <a class="text-decoration-none" href="#" routerLink="/news">
            <div>
                <p>Всі новини</p>
                <div class="right-arrow"></div>
            </div>
        </a>
    </div>
    <div class="list">
        <div *ngFor="let new of news">
            <div class="img"><img [src]="new?.image"></div>
            <p class="date">{{new?.date}}</p>
            <h5>{{new?.title}}</h5>
            <p>{{new?.description}}</p>
        </div>
    </div>
</div>