<div class="last-news">
    <div class="title">
        <h3>Останні новини</h3>
        <div>
            <p>Всі новини</p>
            <div class="right-arrow"></div>
        </div>
    </div>
    <div class="list">
        <div>
            <div class="img img1"></div>
            <p class="date">04.12.2021</p>
            <h5>Прем‘єра фільму «Хто ми? Психоаналіз українців»</h5>
            <p>10 грудня о 19:00 у культурно-мистецькому центрі імені Івана Миколайчука відбудеться прем‘єра фільму «Хто ми? Психоаналіз українців»...</p>
        </div>
        <div>
            <div class="img img2"></div>
            <p class="date">04.12.2021</p>
            <h5>Прем‘єра фільму «Хто ми? Психоаналіз українців»</h5>
            <p>10 грудня о 19:00 у культурно-мистецькому центрі імені Івана Миколайчука відбудеться прем‘єра фільму «Хто ми? Психоаналіз українців»...</p>
        </div>
        <div>
            <div class="img img3"></div>
            <p class="date">04.12.2021</p>
            <h5>Прем‘єра фільму «Хто ми? Психоаналіз українців»</h5>
            <p>10 грудня о 19:00 у культурно-мистецькому центрі імені Івана Миколайчука відбудеться прем‘єра фільму «Хто ми? Психоаналіз українців»...</p>
        </div>
    </div>
    <div class=""></div>
</div>